* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
}

/*滚动条样式*/
::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.5);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #a4a4a4;
  }
}

a {
  color: #666;
  text-decoration: none;
  transition: 0.3s color ease;
  &:hover {
    color: black;
  }
}

li {
  display: inline;
  list-style-type: none;
}

@import "_partial/header.scss";
@import "_partial/index.scss";
