<header>
  <div class="site-nav">
    <div class="site-nav-left">
      <div class="site-logo">
        <a href="">
          <img src="" alt="">
          <span>Slime</span>
        </a>
      </div>
    </div>
    <div class="site-nav-right">
      <div class="nav-options">
        <ul>
          <li>Home</li>
          <li>Archive</li>
          <li>Categories</li>
          <li>Tags</li>
          <li>About</li>
        </ul>
      </div>
      <div class="nav-others">
        <ul>
          <li>RSS</li>
          <li>GitHub</li>
        </ul>
      </div>
    </div>
  </div>
</header>
