<div class="placeholder-bar"></div>
<header id="site-header">
  <div class="site-nav">
    <div class="site-nav-left">
      <div class="site-logo">
        <a href="/" class="avatar">
          <img src="/images/avatar.png" alt="">
        </a>
        <span>Slime</span>
      </div>
    </div>
    <div class="site-nav-right">
      <div class="nav-options">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Archive</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Tags</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="nav-others">
        <ul>
          <li class="folded-button"><a href="#"><i class="icon iconfont icon-reorder"></i></a></li>
          <li><a href="#"><i class="icon iconfont icon-search"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<%- js(['/js/header.js']) %>
