main {
  .site-neck {
    position: relative;
    // border-bottom-left-radius: 20%;
    // border-bottom-right-radius: 10%;
    // #f8f9fb#fbfbfc
    background-color: #fff;
    .neck-title {
      font-size: 2.5rem;
      color: #666;
      max-width: 60rem;
      margin: 0 auto;
      padding: 3.5rem 1.5rem;
      span {
        // padding: 10px 5px;
        margin: 0 10px;
        @media (max-width: 85rem) {
          margin: 0 56px;
        }
      }
      .neck-subtitle {
        font-size: 1.5rem;
        color: #666;
      }
    }
  }
  .site-posts {
    background-color: #fff;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    .post-list {
      max-width: 60rem;
      margin: 0 auto;
      padding: 3.5rem 1.5rem;
      .post-item {
        margin: 0 10px;
        padding: 20px 0;
      }
    }
  }
}